'fileTypes' : [
  'ag'
]
'name' : 'Algo'
'patterns' : [
  {
    'include' : '#main'
  }
]
'scopeName' : 'source.Algo'
'uuid' : ''
'repository' : {
  'main' : {
    'patterns' : [
      {
        'match' : '(let)'
        'name' : 'keyword.Algo'
      }
      {
        'match' : '(import)'
        'name' : 'keyword.control.import.Algo'
      }
      {
        'begin' : '(//)'
        'beginCaptures' : {
          '1' : {
            'name' : 'comment.Algo'
          }
        }
        'contentName' : 'comment.Algo'
        'end' : '(^(?=.{0,1})(?:|))'
        'endCaptures' : {
          '1' : {
            'name' : 'keyword.Algo'
          }
        }
      }
      {
        'begin' : '(\\")'
        'beginCaptures' : {
          '1' : {
            'name' : 'string.Algo'
          }
        }
        'patterns' : [
          {
            'include' : '#main__2'
          }
        ]
        'end' : '(\\")'
        'endCaptures' : {
          '1' : {
            'name' : 'string.Algo'
          }
        }
      }
      {
        'match' : '(-?[1-9][0-9]*|0)'
        'name' : 'constant.numeric.Algo'
      }
      {
        'match' : '(-?[1-9]*[0-9]\\.[0-9]+)'
        'name' : 'constant.numeric.Algo'
      }
      {
        'match' : '(true|false)'
        'name' : 'constant.other.Algo'
      }
      {
        'match' : '((-?[1-9][0-9]*|0)[\\x{0020}]*/[\\x{0020}]*(-?[1-9][0-9]*|0))'
        'name' : 'constant.numeric.Algo'
      }
      {
        'match' : '(if|else)'
        'name' : 'keyword.control.conditional.Algo'
      }
      {
        'match' : '(for|foreach|while|try|catch)'
        'name' : 'keyword.control.Algo'
      }
      {
        'match' : '(up to| as | in | from | at | sf)'
        'name' : 'keyword.operator.word.Algo'
      }
      {
        'match' : '(null|true|false)'
        'name' : 'constant.language.Algo'
      }
      {
        'match' : '(let|break|continue|enum|library|object|return|print|disregard|external|add|remove)'
        'name' : 'keyword.Algo'
      }
      {
        'match' : '(\\+\\=|\\-\\=|\\/\\=|\\*\\=|\\+\\+|\\-\\-|\\+|\\-|\\/|\\*|\\^)'
        'name' : 'keyword.operator.arithmetic.Algo'
      }
      {
        'match' : '(\\||\\&|==)'
        'name' : 'keyword.operator.logical.Algo'
      }
      {
        'match' : '(\\=)'
        'name' : 'keyword.operator.assignment.Algo'
      }
      {
        'match' : '(([a-zA-Z_0-9]+\\.[a-zA-Z_0-9]+)+)'
        'name' : 'variable.Algo'
      }
      {
        'match' : '([a-zA-Z_0-9]+)'
        'name' : 'variable.Algo'
      }
      {
        'begin' : '([a-zA-Z_0-9]\\()'
        'beginCaptures' : {
          '1' : {
            'name' : 'none.Algo'
          }
        }
        'patterns' : [
          {
            'include' : '#main__3'
          }
        ]
        'end' : '(\\))'
        'endCaptures' : {
          '1' : {
            'name' : 'none.Algo'
          }
        }
      }
    ]
  }
  'main__1' : {
    'patterns' : [
    ]
  }
  'main__2' : {
    'patterns' : [
      {
        'match' : '(\\\\.)'
        'name' : 'constant.character.escape.Algo'
      }
      {
        'match' : '(.*?(?!\\\\.).)'
        'name' : 'string.Algo'
      }
    ]
  }
  'main__3' : {
    'patterns' : [
      {
        'match' : '(,)'
        'name' : 'none.Algo'
      }
      {
        'match' : '([a-zA-Z_0-9]+)'
        'name' : 'variable.parameter.Algo'
      }
    ]
  }
}
